USE [master]
GO
/****** Object:  Database [univ_db]    Script Date: 25.01.2020 13:46:57 ******/
CREATE DATABASE [univ_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'univ_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.UNIOFTECHN\MSSQL\DATA\univ_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'univ_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.UNIOFTECHN\MSSQL\DATA\univ_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [univ_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [univ_db]
GO
/****** Object:  Table [dbo].[kierunki]    Script Date: 25.01.2020 13:46:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kierunki](
	[KIERUNEK_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAZWA] [varchar](100) NULL,
	[WYDZIAL_ID] [int] NULL,
 CONSTRAINT [PK_kierunki] PRIMARY KEY CLUSTERED 
(
	[KIERUNEK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[oceny]    Script Date: 25.01.2020 13:46:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[oceny](
	[NR_WPISU] [int] IDENTITY(1,1) NOT NULL,
	[NUMER_INDEKSU] [int] NULL,
	[PRZEDMIOT_ID] [int] NULL,
	[SEMESTR] [int] NOT NULL,
	[WYKLAD_OCENA] [int] NULL,
	[CWICZ_OCENA] [int] NULL,
	[LAB_OCENA] [int] NULL,
	[OCENA_KONC] [int] NULL,
 CONSTRAINT [PK_oceny] PRIMARY KEY CLUSTERED 
(
	[NR_WPISU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[oplaty]    Script Date: 25.01.2020 13:46:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[oplaty](
	[OPL_ID] [int] IDENTITY(1,1) NOT NULL,
	[NUMER_INDEKSU] [int] NULL,
	[SEMESTR] [int] NOT NULL,
	[KIERUNEK_ID] [int] NULL,
	[RATA_PIERWSZA] [float] NULL,
	[RATA_DRUGA] [float] NULL,
	[RATA_TRZECIA] [float] NULL,
	[RATA_CZWARTA] [float] NULL,
	[POWT_PRZEDM] [float] NULL,
	[ODSETKI] [float] NULL,
	[NADPLATA] [float] NULL,
 CONSTRAINT [PK_oplaty] PRIMARY KEY CLUSTERED 
(
	[OPL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[przedmioty]    Script Date: 25.01.2020 13:46:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[przedmioty](
	[PRZEDMIOT_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAZWA_PRZEDMIOTU] [varchar](80) NOT NULL,
	[WYDZIAL_ID] [int] NULL,
	[WYKLADOWCA_ID] [int] NULL,
	[KIERUNEK_ID] [int] NULL,
	[PUNKCTY_ECTS] [int] NOT NULL,
	[NR_SEMESTRU] [int] NOT NULL,
 CONSTRAINT [PK_przedmioty] PRIMARY KEY CLUSTERED 
(
	[PRZEDMIOT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[specjalizacje]    Script Date: 25.01.2020 13:46:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[specjalizacje](
	[SPEC_ID] [int] IDENTITY(1,1) NOT NULL,
	[SPEC_Nazwa] [varchar](80) NOT NULL,
	[KIERUNEK_ID] [int] NULL,
 CONSTRAINT [PK_specjalizacje] PRIMARY KEY CLUSTERED 
(
	[SPEC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[studenci]    Script Date: 25.01.2020 13:46:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[studenci](
	[NUMER_INDEKSU] [int] IDENTITY(1,1) NOT NULL,
	[IMIE] [varchar](30) NOT NULL,
	[DRUGIE_IMIE] [varchar](30) NULL,
	[NAZWISKO] [varchar](50) NOT NULL,
	[NARODOWOSC] [varchar](25) NOT NULL,
	[PESEL] [varchar](11) NOT NULL,
	[KIERUNEK_ID] [int] NULL,
	[WYDZIAL_ID] [int] NULL,
	[MIASTO] [varchar](30) NOT NULL,
	[KOD] [varchar](6) NULL,
	[WOJEWODZTWO] [varchar](30) NOT NULL,
	[ULICA] [varchar](50) NOT NULL,
	[BLOK_NR] [int] NULL,
	[MIESZKANIE_NR] [int] NOT NULL,
	[PASSWORD_ACC] [varchar](20) NOT NULL,
	[SPEC_ID] [int] NULL,
	[PICTURE] [varbinary](max) NULL,
 CONSTRAINT [PK_studenci] PRIMARY KEY CLUSTERED 
(
	[NUMER_INDEKSU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wydzialy]    Script Date: 25.01.2020 13:46:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wydzialy](
	[WYDZIAL_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAZWA] [varchar](80) NOT NULL,
	[MIASTO] [varchar](30) NOT NULL,
	[ULICA] [varchar](30) NOT NULL,
	[NR_BUDYNKU] [varchar](10) NOT NULL,
	[KOD] [varchar](6) NOT NULL,
 CONSTRAINT [PK_wydzialy] PRIMARY KEY CLUSTERED 
(
	[WYDZIAL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wykladowcy]    Script Date: 25.01.2020 13:46:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wykladowcy](
	[WYKLADOWCA_ID] [int] IDENTITY(1,1) NOT NULL,
	[IMIE] [varchar](30) NOT NULL,
	[DRUGIE_IMIE] [varchar](30) NULL,
	[NAZWISKO] [varchar](50) NOT NULL,
	[STOPIEN] [varchar](12) NULL,
	[PASSWORD_ACC] [varchar](20) NOT NULL,
	[IsAdmin] [varchar](3) NOT NULL,
 CONSTRAINT [PK_wykladowcy] PRIMARY KEY CLUSTERED 
(
	[WYKLADOWCA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[kierunki] ON 

INSERT [dbo].[kierunki] ([KIERUNEK_ID], [NAZWA], [WYDZIAL_ID]) VALUES (1, N'advanced mechanical engineering', 1)
INSERT [dbo].[kierunki] ([KIERUNEK_ID], [NAZWA], [WYDZIAL_ID]) VALUES (2, N'automatyka i robotyka', 1)
INSERT [dbo].[kierunki] ([KIERUNEK_ID], [NAZWA], [WYDZIAL_ID]) VALUES (3, N'biomateriały inspirowane naturą', 1)
SET IDENTITY_INSERT [dbo].[kierunki] OFF
SET IDENTITY_INSERT [dbo].[oceny] ON 

INSERT [dbo].[oceny] ([NR_WPISU], [NUMER_INDEKSU], [PRZEDMIOT_ID], [SEMESTR], [WYKLAD_OCENA], [CWICZ_OCENA], [LAB_OCENA], [OCENA_KONC]) VALUES (1, 1004, 6, 1, 5, NULL, NULL, 4)
INSERT [dbo].[oceny] ([NR_WPISU], [NUMER_INDEKSU], [PRZEDMIOT_ID], [SEMESTR], [WYKLAD_OCENA], [CWICZ_OCENA], [LAB_OCENA], [OCENA_KONC]) VALUES (2, 1004, 53, 1, 5, NULL, 3, 4)
INSERT [dbo].[oceny] ([NR_WPISU], [NUMER_INDEKSU], [PRZEDMIOT_ID], [SEMESTR], [WYKLAD_OCENA], [CWICZ_OCENA], [LAB_OCENA], [OCENA_KONC]) VALUES (3, 1004, 4, 1, 3, NULL, NULL, 3)
SET IDENTITY_INSERT [dbo].[oceny] OFF
SET IDENTITY_INSERT [dbo].[oplaty] ON 

INSERT [dbo].[oplaty] ([OPL_ID], [NUMER_INDEKSU], [SEMESTR], [KIERUNEK_ID], [RATA_PIERWSZA], [RATA_DRUGA], [RATA_TRZECIA], [RATA_CZWARTA], [POWT_PRZEDM], [ODSETKI], [NADPLATA]) VALUES (1, 1004, 1, 17, 513, 513, 513, 514, 0, 0, 1)
INSERT [dbo].[oplaty] ([OPL_ID], [NUMER_INDEKSU], [SEMESTR], [KIERUNEK_ID], [RATA_PIERWSZA], [RATA_DRUGA], [RATA_TRZECIA], [RATA_CZWARTA], [POWT_PRZEDM], [ODSETKI], [NADPLATA]) VALUES (2, 1004, 2, 17, 613, 513, 513, 513, 0, 0, 100)
INSERT [dbo].[oplaty] ([OPL_ID], [NUMER_INDEKSU], [SEMESTR], [KIERUNEK_ID], [RATA_PIERWSZA], [RATA_DRUGA], [RATA_TRZECIA], [RATA_CZWARTA], [POWT_PRZEDM], [ODSETKI], [NADPLATA]) VALUES (3, 1004, 3, 17, 513, 513, 513, 513, 576, 0, 100)
SET IDENTITY_INSERT [dbo].[oplaty] OFF
SET IDENTITY_INSERT [dbo].[przedmioty] ON 

INSERT [dbo].[przedmioty] ([PRZEDMIOT_ID], [NAZWA_PRZEDMIOTU], [WYDZIAL_ID], [WYKLADOWCA_ID], [KIERUNEK_ID], [PUNKCTY_ECTS], [NR_SEMESTRU]) VALUES (1, N'Algebra liniowa', 2, 49, 27, 4, 1)
INSERT [dbo].[przedmioty] ([PRZEDMIOT_ID], [NAZWA_PRZEDMIOTU], [WYDZIAL_ID], [WYKLADOWCA_ID], [KIERUNEK_ID], [PUNKCTY_ECTS], [NR_SEMESTRU]) VALUES (2, N'Analiza matematyczna', 2, 50, 27, 6, 1)
INSERT [dbo].[przedmioty] ([PRZEDMIOT_ID], [NAZWA_PRZEDMIOTU], [WYDZIAL_ID], [WYKLADOWCA_ID], [KIERUNEK_ID], [PUNKCTY_ECTS], [NR_SEMESTRU]) VALUES (3, N'Fizyka 1', 2, 51, 27, 5, 1)
SET IDENTITY_INSERT [dbo].[przedmioty] OFF
SET IDENTITY_INSERT [dbo].[specjalizacje] ON 

INSERT [dbo].[specjalizacje] ([SPEC_ID], [SPEC_Nazwa], [KIERUNEK_ID]) VALUES (1, N'Inżynieria Oprogramowania', 27)
INSERT [dbo].[specjalizacje] ([SPEC_ID], [SPEC_Nazwa], [KIERUNEK_ID]) VALUES (2, N'Korporacyjne Sieci Komputerowe', 27)
INSERT [dbo].[specjalizacje] ([SPEC_ID], [SPEC_Nazwa], [KIERUNEK_ID]) VALUES (3, N'Interaktywna Grafika Komputerowa', 27)
SET IDENTITY_INSERT [dbo].[specjalizacje] OFF
SET IDENTITY_INSERT [dbo].[studenci] ON 

INSERT [dbo].[studenci] ([NUMER_INDEKSU], [IMIE], [DRUGIE_IMIE], [NAZWISKO], [NARODOWOSC], [PESEL], [KIERUNEK_ID], [WYDZIAL_ID], [MIASTO], [KOD], [WOJEWODZTWO], [ULICA], [BLOK_NR], [MIESZKANIE_NR], [PASSWORD_ACC], [SPEC_ID], [PICTURE]) VALUES (1004, N'Adam', N'Wojciech', N'Domański', N'Polska', N'96031219706', 17, 2, N'Kutno', N'99-300', N'Łódzkie', N'Grunwaldzka', 33, 88, N'me2nepa!amY', 1, NULL)
INSERT [dbo].[studenci] ([NUMER_INDEKSU], [IMIE], [DRUGIE_IMIE], [NAZWISKO], [NARODOWOSC], [PESEL], [KIERUNEK_ID], [WYDZIAL_ID], [MIASTO], [KOD], [WOJEWODZTWO], [ULICA], [BLOK_NR], [MIESZKANIE_NR], [PASSWORD_ACC], [SPEC_ID], [PICTURE]) VALUES (1005, N'Patryk', N'null', N'Badowski', N'Polska', N'95043067854', 17, 2, N'Bagno', N'75-786', N'Łódzkie', N'Rozprza', NULL, 567, N'QJ282OEM160B', 1, NULL)
INSERT [dbo].[studenci] ([NUMER_INDEKSU], [IMIE], [DRUGIE_IMIE], [NAZWISKO], [NARODOWOSC], [PESEL], [KIERUNEK_ID], [WYDZIAL_ID], [MIASTO], [KOD], [WOJEWODZTWO], [ULICA], [BLOK_NR], [MIESZKANIE_NR], [PASSWORD_ACC], [SPEC_ID], [PICTURE]) VALUES (1006, N'Patryk', N'null', N'Badowski', N'Polska', N'95070678989', 49, 1, N'Łódź', N'90-023', N'Łódzkie', N'Narutowicza', 52, 132, N'XY421YZP938I', 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[studenci] OFF
SET IDENTITY_INSERT [dbo].[wydzialy] ON 

INSERT [dbo].[wydzialy] ([WYDZIAL_ID], [NAZWA], [MIASTO], [ULICA], [NR_BUDYNKU], [KOD]) VALUES (1, N'Wydział Mechaniczny', N'Łódź', N'Stefanowskiego', N'1/15', N'90-924')
INSERT [dbo].[wydzialy] ([WYDZIAL_ID], [NAZWA], [MIASTO], [ULICA], [NR_BUDYNKU], [KOD]) VALUES (2, N'Wydział Elektrotechniki, Elektroniki, Informatyki i Automatyki', N'Łódź', N'Stefanowskiego', N'18/22', N'90-924')
INSERT [dbo].[wydzialy] ([WYDZIAL_ID], [NAZWA], [MIASTO], [ULICA], [NR_BUDYNKU], [KOD]) VALUES (3, N'Wydział Chemiczny', N'Łódź', N'Żeromskiego', N'116', N'90-924')
SET IDENTITY_INSERT [dbo].[wydzialy] OFF
SET IDENTITY_INSERT [dbo].[wykladowcy] ON 

INSERT [dbo].[wykladowcy] ([WYKLADOWCA_ID], [IMIE], [DRUGIE_IMIE], [NAZWISKO], [STOPIEN], [PASSWORD_ACC], [IsAdmin]) VALUES (2, N'Laurent ', NULL, N'Babout', N'dr hab.', N'DE224NDG879W', N'no')
INSERT [dbo].[wykladowcy] ([WYKLADOWCA_ID], [IMIE], [DRUGIE_IMIE], [NAZWISKO], [STOPIEN], [PASSWORD_ACC], [IsAdmin]) VALUES (4, N'Maciej ', NULL, N'Dankowski', N'mgr ', N'ND506JFF247X', N'no')
INSERT [dbo].[wykladowcy] ([WYKLADOWCA_ID], [IMIE], [DRUGIE_IMIE], [NAZWISKO], [STOPIEN], [PASSWORD_ACC], [IsAdmin]) VALUES (5, N'Maciej ', NULL, N'Drzymała', N'dr inż.', N'GY688ATY360V', N'no')
SET IDENTITY_INSERT [dbo].[wykladowcy] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [studentsData]    Script Date: 25.01.2020 13:46:58 ******/
CREATE NONCLUSTERED INDEX [studentsData] ON [dbo].[studenci]
(
	[NUMER_INDEKSU] ASC,
	[PASSWORD_ACC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [lecturersData]    Script Date: 25.01.2020 13:46:58 ******/
CREATE NONCLUSTERED INDEX [lecturersData] ON [dbo].[wykladowcy]
(
	[WYKLADOWCA_ID] ASC,
	[PASSWORD_ACC] ASC,
	[IsAdmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[kierunki]  WITH CHECK ADD FOREIGN KEY([WYDZIAL_ID])
REFERENCES [dbo].[wydzialy] ([WYDZIAL_ID])
GO
ALTER TABLE [dbo].[oceny]  WITH CHECK ADD FOREIGN KEY([NUMER_INDEKSU])
REFERENCES [dbo].[studenci] ([NUMER_INDEKSU])
GO
ALTER TABLE [dbo].[oceny]  WITH CHECK ADD FOREIGN KEY([PRZEDMIOT_ID])
REFERENCES [dbo].[przedmioty] ([PRZEDMIOT_ID])
GO
ALTER TABLE [dbo].[oplaty]  WITH CHECK ADD FOREIGN KEY([KIERUNEK_ID])
REFERENCES [dbo].[kierunki] ([KIERUNEK_ID])
GO
ALTER TABLE [dbo].[oplaty]  WITH CHECK ADD FOREIGN KEY([NUMER_INDEKSU])
REFERENCES [dbo].[studenci] ([NUMER_INDEKSU])
GO
ALTER TABLE [dbo].[przedmioty]  WITH CHECK ADD FOREIGN KEY([KIERUNEK_ID])
REFERENCES [dbo].[kierunki] ([KIERUNEK_ID])
GO
ALTER TABLE [dbo].[przedmioty]  WITH CHECK ADD FOREIGN KEY([WYDZIAL_ID])
REFERENCES [dbo].[wydzialy] ([WYDZIAL_ID])
GO
ALTER TABLE [dbo].[przedmioty]  WITH CHECK ADD FOREIGN KEY([WYKLADOWCA_ID])
REFERENCES [dbo].[wykladowcy] ([WYKLADOWCA_ID])
GO
ALTER TABLE [dbo].[specjalizacje]  WITH CHECK ADD  CONSTRAINT [fk_kierunek_spec] FOREIGN KEY([KIERUNEK_ID])
REFERENCES [dbo].[kierunki] ([KIERUNEK_ID])
GO
ALTER TABLE [dbo].[specjalizacje] CHECK CONSTRAINT [fk_kierunek_spec]
GO
ALTER TABLE [dbo].[studenci]  WITH CHECK ADD FOREIGN KEY([KIERUNEK_ID])
REFERENCES [dbo].[kierunki] ([KIERUNEK_ID])
GO
ALTER TABLE [dbo].[studenci]  WITH CHECK ADD FOREIGN KEY([SPEC_ID])
REFERENCES [dbo].[specjalizacje] ([SPEC_ID])
GO
ALTER TABLE [dbo].[studenci]  WITH CHECK ADD FOREIGN KEY([WYDZIAL_ID])
REFERENCES [dbo].[wydzialy] ([WYDZIAL_ID])
GO
ALTER TABLE [dbo].[oceny]  WITH CHECK ADD  CONSTRAINT [CHK_CW_OC] CHECK  (([CWICZ_OCENA]=(2) OR [CWICZ_OCENA]=(3) OR [CWICZ_OCENA]=(3.5) OR [CWICZ_OCENA]=(4) OR [CWICZ_OCENA]=(4.5) OR [CWICZ_OCENA]=(5)))
GO
ALTER TABLE [dbo].[oceny] CHECK CONSTRAINT [CHK_CW_OC]
GO
ALTER TABLE [dbo].[oceny]  WITH CHECK ADD  CONSTRAINT [CHK_KON_OC] CHECK  (([OCENA_KONC]=(2) OR [OCENA_KONC]=(3) OR [OCENA_KONC]=(3.5) OR [OCENA_KONC]=(4) OR [OCENA_KONC]=(4.5) OR [OCENA_KONC]=(5)))
GO
ALTER TABLE [dbo].[oceny] CHECK CONSTRAINT [CHK_KON_OC]
GO
ALTER TABLE [dbo].[oceny]  WITH CHECK ADD  CONSTRAINT [CHK_LAB_OC] CHECK  (([LAB_OCENA]=(2) OR [LAB_OCENA]=(3) OR [LAB_OCENA]=(3.5) OR [LAB_OCENA]=(4) OR [LAB_OCENA]=(4.5) OR [LAB_OCENA]=(5)))
GO
ALTER TABLE [dbo].[oceny] CHECK CONSTRAINT [CHK_LAB_OC]
GO
ALTER TABLE [dbo].[oceny]  WITH CHECK ADD  CONSTRAINT [CHK_WYK_OC] CHECK  (([WYKLAD_OCENA]=(2) OR [WYKLAD_OCENA]=(3) OR [WYKLAD_OCENA]=(3.5) OR [WYKLAD_OCENA]=(4) OR [WYKLAD_OCENA]=(4.5) OR [WYKLAD_OCENA]=(5)))
GO
ALTER TABLE [dbo].[oceny] CHECK CONSTRAINT [CHK_WYK_OC]
GO
ALTER TABLE [dbo].[studenci]  WITH CHECK ADD CHECK  ((len([KOD])=(6)))
GO
ALTER TABLE [dbo].[studenci]  WITH CHECK ADD CHECK  ((len([PESEL])=(11)))
GO
ALTER TABLE [dbo].[wydzialy]  WITH CHECK ADD CHECK  ((len([KOD])=(6)))
GO
ALTER TABLE [dbo].[wykladowcy]  WITH CHECK ADD CHECK  (([IsAdmin]='Yes' OR [IsAdmin]='No'))
GO
/****** Object:  StoredProcedure [dbo].[gradesInfo]    Script Date: 25.01.2020 13:46:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[gradesInfo]
as
	select 
	studenci.IMIE + ' ' + studenci.NAZWISKO, 
	oceny.SEMESTR, 
	oceny.WYKLAD_OCENA, 
	oceny.CWICZ_OCENA, 
	oceny.LAB_OCENA, 
	oceny.OCENA_KONC 
	from oceny 
	inner join przedmioty on przedmioty.PRZEDMIOT_ID = oceny.PRZEDMIOT_ID 
	inner join studenci on oceny.NUMER_INDEKSU = studenci.NUMER_INDEKSU



GO
/****** Object:  StoredProcedure [dbo].[indexesList]    Script Date: 25.01.2020 13:46:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[indexesList]
as
	select 
	studenci.NUMER_INDEKSU 
	from dbo.oceny 
	inner join studenci on studenci.numer_indeksu = oceny.numer_indeksu 
	inner join dbo.przedmioty on przedmioty.przedmiot_id = oceny.przedmiot_id



GO
/****** Object:  StoredProcedure [dbo].[lecturerInfo]    Script Date: 25.01.2020 13:46:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[lecturerInfo]
as
select 
	WYKLADOWCA_ID,
	PASSWORD_ACC,
	IsAdmin, 
	Imie, 
	Nazwisko, 
	stopien 
	from wykladowcy




GO
/****** Object:  StoredProcedure [dbo].[studentInfo]    Script Date: 25.01.2020 13:46:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[studentInfo]
as
select studenci.NUMER_INDEKSU, 
	   studenci.PASSWORD_ACC,
	   studenci.IMIE, 
	   studenci.NAZWISKO, 
	   kierunki.NAZWA, 
	   studenci.ULICA, 
	   studenci.BLOK_NR, 
	   studenci.MIESZKANIE_NR, 
	   studenci.MIASTO,
	   studenci.KOD,
	   wydzialy.NAZWA 
	   from studenci 
	   inner join kierunki on kierunki.KIERUNEK_ID = studenci.KIERUNEK_ID 
	   inner join wydzialy on wydzialy.WYDZIAL_ID = kierunki.WYDZIAL_ID
GO
/****** Object:  StoredProcedure [dbo].[subjectInfo]    Script Date: 25.01.2020 13:46:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[subjectInfo]
as
	select 
	przedmioty.NAZWA_PRZEDMIOTU 
	from wykladowcy 
	inner join przedmioty on przedmioty.WYKLADOWCA_ID = wykladowcy.WYKLADOWCA_ID




GO
USE [master]
GO
